rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAdmin() {
      return request.auth != null && (request.auth.token.email == 'kalim.apoffi@gmail.com' || request.auth.token.email == 'kalimdon07@gmail.com');
    }

    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      allow read: if isAdmin();
    }

    match /interviews/{userId}/{document=**} {
      allow read, write: if request.auth != null
        && request.auth.uid == userId;
    }

    match /discoveries/{userId}/{document=**} {
      allow read, write: if request.auth != null
        && request.auth.uid == userId;
    }

    match /scholarships/{userId}/{document=**} {
      allow read, write: if request.auth != null
        && request.auth.uid == userId;
    }

    match /contacts/{contactId} {
      allow create: if request.auth != null;
      allow read, update, delete: if isAdmin();
    }

    match /testimonials/{docId} {
      allow read: if true;
      allow create: if request.auth != null;
      allow update, delete: if isAdmin();
    }

    match /publicStats/{docId} {
      allow read: if true;
      allow create, update: if request.auth != null;
    }
  }
}
